* {
    box-sizing: border-box;
    font-family: $font-family;
}

html {
	font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $body-bg;
}

.app {
    display: flex;
    min-height: 100vh;
    padding-top: 60px; 
    flex-direction: column;
    
    @media (min-width: 768px) {   
        padding-top: 86px;    
    }
}

main {
	flex: 1 0 auto;
}