.recipe-single {
    margin-top: 50px;
}

.recipe-single__header {
    padding-bottom: 5rem;
    padding-top: 2rem;

    h1 {
        font-size: 3.6rem;
        padding-top: 1.5rem;
    }
}

.recipe-single__inner {
    display: flex;
    justify-content: space-between;
}

.recipe-single-sidebar {
    width: 320px;
}

.recipe-single-body {
    width: calc(100% - 360px);
}

.recipe-single__prep-cook {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-top: 3rem;

    .prep-time,
    .cook-time {
        flex-basis: 50%;
        font-weight: 600;

        span {
            display: inline-block;
            border: 3px solid $primary;
            width: 48px;
            height: 48px;
            line-height: 33px;
            padding: 5px;
            text-align: center;
            border-radius: 50%;
            font-size: 1.6rem;
            margin-right: 5px;
        }
    }
}

.recipe-single__image {
    margin-bottom: 40px;

    .inner-image {
        max-height: 500px;
        position: relative;
        overflow: hidden;
    }

    img {
        position: relative;
        top: 50%;
        max-width: 100%;
        height: auto;
    }
}


.recipe-single-lead__actions {
    margin-top: 2rem;

    .btn {
        margin-right: 10px;
    }
}



.recipe-single__ingredients {
    padding: 15px;    
    background: #F3F2F7;
    margin-bottom: 30px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    b {
        width: 90px;
        display: inline-block;
        margin-right: 10px;
    }
}

.recipe-single__method {
    ol {
        list-style: none;
        padding-left: 40px;
    }

    li {
        margin-bottom: 16px;
        position: relative;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            left: -40px;
            top: 6px;
            width: 20px;
            height: 20px;
            background: #e0e0e0;
            border-radius: 4px;
        }
    }
}

.recipe-single__servings {

    input {
        max-width: 60px;
        margin-right: 5px;
    }

    .btn {
        font-size: 1.4rem;
    }
}