.recipes {
    // display: flex;
    // justify-content: space-between;
    // flex-flow: row wrap;
    display: grid;
    grid-gap: 25px;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(120px, auto);

    @media (min-width: 520px) {
        grid-template-columns: repeat(auto-fill, minmax(calc(49% - 15px), 1fr));
    }

    @media (min-width: 900px) {
        grid-template-columns: repeat(auto-fill, minmax(calc(33% - 15px), 1fr));
    }    
}

.recipes__item {
    background-color: #fff;
    box-shadow: $box-shadow;
    transition: all .3s ease;
    padding-bottom: 40px;
    position: relative;

    &:hover,
    &:focus {
       box-shadow: $box-shadow-hover;
    }
}

.recipes__img {
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}

.recipes__desc {
    padding: 10px 20px;

    h3 {
        padding: 0;
        font-size: 1.6rem;
        font-weight: 600;
    } 

    p {
        font-size: 1.4rem;
    }
}

.recipes__meta {
    padding: 10px 20px;
    border-top: 1px solid hsla(0,0,0,0.04);    
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    color: hsla(0,0,0,0.6);
    font-size: 1.3rem;

    .icon {
        margin-top: 3px;
        margin-right: 5px;
        fill: hsla(0,0,0,0.6);
    }
}