footer {
    padding: 20px 0 20px;
    background: #242136;
    margin-top: 80px;

    p {
        font-size: 1.4rem;
    }

    p, a  {
        color: white;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
    }
}