.form {
    label {
      display: block;
      position: relative;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    input,
    select,
    textarea {
      padding: 10px;
      outline: none;
      font-size: inherit;
      border: 0;
      border-radius: 4px;
      box-shadow: $box-shadow;
      width: 100%;
      transition: all .3s ease-in-out;

      &:focus {
        box-shadow: $box-shadow-hover;
      }
    }
  
    textarea {
      min-height: 150px;
    }
  
    select {
      appearance: none;
      background-color: #fff; 
    }
  
    input[type="checkbox"],
    input[type="radio"] {
      font-size: 1.6rem;
    }
  
    input[type="file"] {
      font-size: 1.6rem;
    }
  
    fieldset {}
  
    legend {}
  
    ::placeholder {
  
    }

    .form-group {
        margin-bottom: 2rem;
    }
  
    .label--inline {
      display: inline-block;
      font-weight: 400;
  
      & + * {
        margin-left: 10px
      }
    }
  
}