.site-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;

    .container {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 20px 0;
        justify-content: space-between;
    }

    h1 {
        text-transform: uppercase;
        padding: 0;
        line-height: 1;
        flex-basis: 10%;
    }
}

.site-header__search {
    flex-basis: 30%;        
}

.site-navigation {
    flex-basis: auto;
    position: relative;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    > ul { 

        text-align: right;

        > li {
            display: inline-block;
            margin-left: 2rem;

            > ul {
                display: none;
            }
        }

        a {
            padding: 40px 0;
            line-height: 20px;
        }
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .profile-pic {
        vertical-align: middle;
        width: 36px;
        height: auto;
        margin-right: 6px;
        margin-top: -2px;
    }

    .divider {
        width: 1px;
        content: '';
        border-left:1px solid #eee;
        height: 26px;
        vertical-align: middle;
        margin-left: 2rem;
    }
}

.profile-pic {
    border-radius: 100%;
}