.site-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    z-index: 20;
    transition: .3s all ease-in-out;

    &.fixed {
        box-shadow: $box-shadow;
    }

    .container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        text-transform: uppercase;
        padding: 0;
        line-height: 1;
        flex-basis: 10%;
        margin: 10px 0 0;
        font-size: 0;
        z-index: 10;

        @media (min-width: 768px) {
            margin-top: 0;
        }

        img {
            width: 36px;
            height: auto;
        }
    }
}