@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #FAFAFA;
  padding-top: 120px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 3rem;
  padding-top: 3rem;
  padding-bottom: .5rem;
}

h2,
h3 {
  padding-top: 3.2rem;
  padding-bottom: .5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9srem;
}

h4 {
  font-size: 1.7rem;
  padding-top: 1.5rem;
}

p,
ul,
ol {
  font-size: 1.6rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

ul {
  list-style: disc;
  padding-left: 2.1rem;
}

ol {
  list-style: decimal;
  padding-left: 2.1rem;
}

ul.unlisted {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

pre code {
  font-size: 1.4rem;
}

small {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

blockquote {
  background-color: #f5f2f0;
  border-left: 8px solid #e1d7d1;
  color: #70818a;
  padding: 1.5rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.site-header {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
}

.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header h1 {
  text-transform: uppercase;
  padding: 0;
  line-height: 1;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.site-header__search {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.site-navigation {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  position: relative;
}

.site-navigation > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.site-navigation > ul > li {
  display: inline-block;
  margin-left: 2rem;
}

.site-navigation > ul a {
  padding: 40px 0;
  line-height: 20px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.form label {
  display: block;
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}

.form input,
.form select,
.form textarea {
  padding: 8px 10px;
  outline: none;
  font-size: inherit;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  width: 100%;
}

.form textarea {
  min-height: 150px;
}

.form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form input[type="checkbox"],
.form input[type="radio"] {
  font-size: 1.6rem;
}

.form input[type="file"] {
  font-size: 1.6rem;
}

.form .form-group {
  margin-bottom: 1.5rem;
}

.form .label--inline {
  display: inline-block;
  font-weight: 400;
}

.form .label--inline + * {
  margin-left: 10px;
}

.form--search input {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(0, 0, 0, 0.04);
  max-width: 240px;
}

.form--search button {
  border: 0;
  background: 0;
}

.btn {
  min-width: 100px;
  background-color: #796EC6;
  border-radius: 4px;
  padding: 10px 18px;
  border: 0;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #5749b8;
}

.shopping-list {
  background: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 50px;
  width: 240px;
  display: none;
}

.shopping-list h5 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.08);
  padding: 6px 15px;
  letter-spacing: 1px;
}

.shopping-list ul {
  padding: 15px;
  list-style: none;
}

