
// Body
$body-bg: #FAFAFA;
$grey-soft: #F5F5F5;
$font-secondary: #B4B4B4;
$font-primary: #000000;
$primary: #796EC6;

// Typography
$font-family: "Roboto", sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;
$text-color: $font-primary;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $primary;


$max-width: 1100px;