
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

// Variables
@import "variables";

// Bootstrap
@import 'vendor/normalize';

@import 'component/button';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
