
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

// Variables
@import "variables";

// Bootstrap
@import 'base/reset';
@import 'base/core';
@import 'base/typography';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/forms';

@import 'component/button';
@import 'component/icon';
@import 'component/shopping-list';
@import 'component/search';

@import 'pages/page';
@import 'pages/recipes';
@import 'pages/recipe.single';
@import 'pages/login';

.box-shadow {
    box-shadow: $box-shadow;
}

.intro-message {
    max-width: 800px;
    font-size: 1.8rem;
    margin-bottom: 60px;
}
