.search__box {
    position: relative;
    
    input {
        padding: 15px 40px 15px 15px;
        width: 100%;
        font-size: 2rem;
    }

    button {
        position: absolute;
        right: 5px;
        top: 19px;
        border: 0;
        background: 0;

        &:hover {
            cursor:pointer;
        }

        .icon {
            width: 16px;
            height: auto;
        }
    }
}

.search__results {
    p {
        position: relative;
        border-bottom: 1px solid hsla(0,0,0,0.04);
        font-size: 1.8rem;
        color: hsla(0,0,0,0.6);
        padding: 1.2rem 90px 1.2rem 0;
    }
    
    .tag {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem;
        padding: 5px 8px;
        text-transform: uppercase;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 4px;
    }
}