.search__box {
    position: relative;
    
    input {
        padding-right: 40px;
        width: 100%;
        background: hsla(0,0,0,0.04);
        box-shadow: none;
    }

    button {
        position: absolute;
        right: 5px;
        top: 12px;
        border: 0;
        background: 0;

        &:hover {
            cursor:pointer;
        }

        .icon {
            width: 16px;
            height: auto;
        }
    }
}